<div class="test">
<% @bookings.each do |b| %>
Client Name: <%= b.client.name %>
<br>
Product: <%= b.product %>
<br>
Contract #: <%= b.contract_num %>
<br>

Pages: <% b.pages.each do |p| %>
  <%= p.name %>,
  <% end %>
<br>
<hr>
  <% end %>
</div>