<div class="single-day-booking-info">
  <div class="date-header">
    <span class="weekday-name"><%= @weekday_name.upcase %></span>
    <span class="month-name-w-date"><%= @month_name_with_date %></span>
  </div>
  <% if @bookings.nil? %>
  <div class="booking-list-wrapper">
    <div class="booking-list-item-container">
      <span>NO BOOKINGS TODAY. SELL SELL SELL!</span>
    </div>
  </div>
  <% else %>
    <%= render "bookinglistbyday" %>
  <% end %>
</div>