<%= render "shared/alertnotice" %>
<!-- <a href="#" data-icon="&#xe000"><span  aria-hidden="true"></span>Help</a> -->
<div class="adm-sidekick-base adm-sidekick-2" id="adm-sidekick-2">
  <div class="adm-button-back clickable">
    <i class="icon-arrow-left-3"></i>
  </div>
  <div class="sidekick-content">
    <div class="booking-list-wrapper">
    </div>
  </div>
</div>
<div class="adm-sidekick-base adm-sidekick-1" id="adm-sidekick-1">
  <div class="adm-button-back clickable">
    <i class="icon-arrow-left-3"></i>
  </div>
  <div class="sidekick-content">
  </div>
</div>
<div class="adm-calendar-container">
  <%= render "bookingcalendar" %>
</div>

