<%= render "shared/alertnotice" %>
<!-- <a href="#" data-icon="&#xe000"><span  aria-hidden="true"></span>Help</a> -->
<div class="adm-sidekick-2">
  <div class="sidekick-content">
  </div>
</div>
<div class="adm-sidekick">
  <div class="sidekick-content">
  </div>
</div>
<div class="adm-calendar-container">
  <%= render "bookingcalendar" %>
</div>









<!-- 

$color-main: #82c5b4;
$color-dark: #163027;
$color-light: #e3e9e5;
$color-highlight: #fecd32;
$color-hover: #8adac6;

$color-bg: #eee;
$color-bg-light: #fff;

$color-text: #777;
$color-text-dark: #000;
$color-text-light: #fff;

$color-text-link: #82c5b4;
$color-text-link-hover: #163027; -->