<%= render "shared/alertnotice" %>



<!-- <a href="#" data-icon="&#xe000"><span  aria-hidden="true"></span>Help</a> -->
<div class="adm-sidekick">
  <div class="sidekick-content">
  
  </div>
</div>

<div class="adm-calendar-container">
  <div class="test">
  <%= render "bookingcalendar" %>
</div>
</div>











