<%= form_tag(:action => "search") do %>
<div class="adm-date-query">
  <div class="adm-input">
    <%= label_tag(:"date-picker", "Date:")%>
    <%= datetime_field_tag(:"date-picker")%>
    <!-- <input id="date-picker"> -->
  </div>
</div>
<%= submit_tag "Search", :class => "adm-button adm-button-search" %>
<% end %>



<%#= form_tag(:action => 'search') do %>
  <!-- <p> -->

  	<%#= date_select("search", 
    	:default => Date.today,
    	:start_year => Date.today.year, 
    	:end_year => Date.today.year + 10) %>

   
		<%#= submit_tag "Search", :name => nil %>
  <!-- </p> -->
<%# end %>
