<%= form_tag(:action => 'search') do %>
  <p>
  	<%= date_select("search", "date", 
    	:default => Date.today,
    	:start_year => Date.today.year, 
    	:end_year => Date.today.year + 10) %>

		<%= submit_tag "Search", :name => nil %>
  </p>
<% end %>
