<% if flash[:notice] %>
  <div class="adm-alert">
    <p id='notice'><%= flash[:notice]%></p>   
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="adm-alert">
    <p id='alert'><%= flash[:alert] %></p>
  </div>
<% end %>