<%= form_for @client do |f| %>
	<div class="adm-input">
    <span class="label">
  		<%= f.label :name %>
    </span>
  		<%= f.text_field :name %>
  	</div>
    <div class="actions">
		<%= submit_tag "Add Client", class: "adm-button" %>
  </div>
<% end %>