<div class="adm-midfloat-box">
<%= form_for @client do |f| %>
	<div class="adm-input">
    <div class="field">
  		<%= f.label :name %>
  		<%= f.text_field :name %>
  	</div>
  </div>
		<%= submit_tag "Add Client", :class => "adm-button adm-button-main" %>
<% end %>
</div>