<div class="adm-directory dir-page">
<% @pages_sorted_alpha.each do |letter, page| %>
  <div class="section-alpha">
    <div class="alpha-letter letter-<%= letter %>">
      <%= letter.upcase %>
    </div>
    <ul class="alpha-list">
      <% page.each do |p| %>
        
        <li class="alpha-list-item"><%= p.name %></li>
      
      <% end %>
    </ul>
  </div>
<% end %>
</div>