<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to example.com, <%= @user.name %></h1>
    <p>
      You have successfully made a new booking!.<br/>
    </p>
    <p>
      Date: <%= @booking.date %> 
    </p>
    <p>
      Client: <%= @booking.client.name %> 
    </p>
    <p>
      Page: <%= @booking.page.name %>
    </p>
  </body>
</html>