/*THE BASE*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #f2f2f2;
  color: #444;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 14px;
  line-height: 21px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body.modal-lock{
  overflow: hidden;
}

.login{
  background: url('/assets/clouds-bg.jpg') center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login .nav-header {
  background: rgba(0,0,0,0.6);
}

a {
  color: #2584EB;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

.cover {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.cover.modal-cover {
  z-index: 10;
  display: none;
}

.cover.modal-cover.active {
  display: block;
}

.clear {
  clear: both;
}


/*THE NAVIGATION*/
.nav-header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,1);
  z-index: 99999;
}

.nav-header a {
  color: white;
  text-decoration: none;
}

.nav-header .logo {
  color: white;
  font-weight: bold;
  float: left;
  text-transform: uppercase;
  display: block;
  margin: 14px 0px;
  padding: 0;
  font-size: 18px;
}

.nav-header .logo a {
  color: white;
}

.nav-links {
  font-size: 13px;
  line-height: 1em;
  float: right;
}

.nav-links ul {
  list-style: none;
  width: 400px;
}

.nav-links li {
  display: block;
  margin: 0 0 0 20px;
  width: 80px;
  float: left;
}

.nav-links li a {
  display: inline-block;
  padding: 18px 0px;
  width: 100%;
}

.nav-links a:hover {
  // padding: 18px 0 10px;
  // border-bottom: 1px solid #aaa;
  text-decoration: none;
  color: #4AB7FF;
}

.nav-links li:hover .nav-dropdown {
  display: block;
}

.nav-links .nav-dropdown {
  background-color: #222;
  width: 180px;
  margin-left: -20px;
  display: none;
}

.nav-links .nav-dropdown li {
  float: none;
  margin: 0;
  width: auto;
  padding: 0 20px;
}

.nav-links .nav-dropdown li a {
  text-decoration: none;
}

.nav-links .nav-dropdown li > a:hover {
  text-decoration: none;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid white;
  position: relative;
  top: -6px;
  left: 33px;
}

/*THE GRID*/
.main-container {
  padding-top: 50px;
  z-index: 2;
  position: relative;
}

.container {
  max-width: 1020px;
  margin: auto;
}

/*THE FLOATBOX*/

.adm-midfloat-box {
  background: white;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin: -170px 0px 0px -240px;
  border-radius: 2px;
  z-index: 2;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}

.adm-midfloat-box .box-title,
.adm-midfloat-box .adm-alert {
  text-align: center;
  font-weight: bold;
  color: black;
  display: block;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 20px;
}

.adm-midfloat-box .adm-input {
  margin: 0px 0px 20px;
}

.adm-midfloat-box .adm-input input,
.adm-midfloat-box .data-field {
  width: 280px;
  margin: 0;
}

.adm-midfloat-box .adm-input .label {
  width: 80px;
}

.adm-button,
.adm-midfloat-box .adm-button input {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  min-width: 100px;
}

.adm-midfloat-box .chosen-container {
  width: 301px !important;
}

.adm-midfloat-box .chosen-single {
  background: white;
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: inherit;
  height: auto;
  line-height: inherit;
  padding: 10px;
}

.adm-midfloat-box .chosen-results li {
  border-bottom: 1px solid #eee;
  line-height: 1;
  padding: 10px 10px;
}

.adm-midfloat-box .chosen-results li.highlighted {
  background: #2584EB;
}

.adm-midfloat-box .chosen-results li em {
  font-weight: bold;
}

.adm-midfloat-box .chosen-search input[type=text] {
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: inherit;
  padding: 10px;
}

.adm-midfloat-box .data-field {
  display: inline-block;
  padding: 10px;
  background: #f5f5f5;
}

.adm-midfloat-box.user-signup .adm-input .label{
  display: block;
  width: auto;
  margin-bottom: 5px;
}

.adm-midfloat-box.user-signup .adm-input input {
  width: 378px;
}

.adm-midfloat-box.new-booking {
  margin: -260px 0 0 -240px;
}

/*THE INPUT*/
.adm-date-query,
.adm-input input {
  border: 1px solid #ddd;
  padding: 10px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

.adm-input .label {
  display: inline-block;
  margin-right: 10px;
}


.adm-date-query {
  display: inline-block;
}

/*.adm-input label {
  width: 80px;
  background: red;
}
*/
/*THE BUTTONS*/
.adm-button,
.adm-button-main,
.adm-button input {
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  background: #2584EB;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
}

.adm-button-main:hover,
.adm-button input:hover {
  background: #3B97FC;
}

.adm-button-bookings {
  display: inline-block;
}

.adm-button.button-link.button-single {
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.adm-button.button-subtle{
  background-color: #ddd;
  color: black;
}

/*THE MODALS*/
.modal-close {
  background: black;
  border-radius: 200px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 13px;
  line-height: 1em;
  padding: 5px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 13px;
}

/*THE ALERTS*/
.adm-alert-container {
  background-color: white;
  width: 100%;
  height: 50px;
}

/*THE CALENDAR*/
.calendar table {
  border-collapse: collapse;
  width: 100%;
}

.calendar td,
.calendar th {
  font-family: "Lucida Grande",arial,helvetica,sans-serif;
  font-size: 10px;
  padding: 6px;
  border: 1px solid #999;
}

.calendar th {
  background: #DDD;
  color: #666;
  text-align: center;
  width: 14.2857142857143%;
}

.calendar td {
  background: #FFF;
  color: #777;
  height: 80px;
  vertical-align: top;
  font-size: 16px;
}

.calendar .notmonth {
  color: #CCC;
}

.calendar .month {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.calendar .month a, 
.calendar .month a:hover {
  text-decoration: none;
  padding: 0 10px;
  color: #999;
}

.calendar .today {
  background-color: #D7F2FF;
}

.calendar ul {
  margin: 0;
  margin-top: 5px;
  padding: 0;
  list-style: none;
}

.calendar li {
  margin: 0;
  padding: 0;
  font-size: 11px;
  text-align: center;
}

.calendar li a {
  text-decoration: none;
}

table {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

/*.calendar-week tr th,
.calendar-week tr td{
  border: 1px solid black;
}

.calendar-week tr td{
  height: 300px;
}*/

.calendar-week {
  width: 100%;
  border: 1px solid black;
  margin: 50px 0;
  background-color: white;

  tr {
    td, th {
      border: 1px solid black;
      width: 14.2857142857143%;
    }

    td {
      height: 300px;
      padding: 10px;
      vertical-align: top;
    }
  }

}



/* THE SIDEKICK */


