/* THE COLOURS */
  $color-main: #82c5b4;
  $color-dark: #163027;
  $color-light: #e3e9e5;
  $color-highlight: #fecd32;
  $color-hover: #8adac6;

  $color-bg: #eee;
  $color-bg-light: #fff;
  $color-bg-border: #ddd;

  $color-text: #777;
  $color-text-dark: #000;
  $color-text-light: #fff;

  $color-text-link: #82c5b4;
  $color-text-link-hover: #163027;


/*THE BASE*/

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #f2f2f2;
  color: #444;
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 13px;
  line-height: 18px;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body.modal-lock{
  overflow: hidden;
}

.login{
  background: url('/assets/clouds-bg.jpg') center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login .nav-header {
  background: rgba(0,0,0,0.6);
}

a {
  color: #2584EB;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  padding: 0;
  margin: 0;
}

.cover {
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.cover.modal-cover {
  z-index: 10;
  display: none;
}

.active,
.cover.modal-cover.active {
  display: block !important;
}

.clear {
  clear: both;
}

.clickable {
  cursor: pointer;
}

/*THE SCROLLBAR*/
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track { 
  background: rgba(255,255,255,0.3);
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.4);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0); 
  border: none;
}

/*THE NAVIGATION*/
.nav-header {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,1);
  z-index: 99999;
}

.nav-header a {
  color: white;
  text-decoration: none;
}

.nav-header .logo {
  color: white;
  font-weight: bold;
  float: left;
  text-transform: uppercase;
  display: block;
  margin: 16px 0px;
  padding: 0;
  font-size: 18px;
  line-height: 1em;
}

.nav-header .logo a {
  color: white;
}

.nav-links {
  font-size: 13px;
  line-height: 1em;
  float: right;
}

.nav-links ul {
  list-style: none;
  width: 400px;
}

.nav-links li {
  display: block;
  margin: 0 0 0 20px;
  width: 80px;
  float: left;
}

.nav-links li a {
  display: inline-block;
  padding: 18px 0px;
  width: 100%;
}

.nav-links a:hover {
  // padding: 18px 0 10px;
  // border-bottom: 1px solid #aaa;
  text-decoration: none;
  color: $color-hover;
}

.nav-links li:hover .nav-dropdown {
  display: block;
}

.nav-links .nav-dropdown {
  background-color: #222;
  width: 180px;
  margin-left: -20px;
  display: none;
}

.nav-links .nav-dropdown li {
  float: none;
  margin: 0;
  width: auto;
  padding: 0 20px;
}

.nav-links .nav-dropdown li a {
  text-decoration: none;
}

.nav-links .nav-dropdown li > a:hover {
  text-decoration: none;
}

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid $color-highlight;
  position: relative;
  top: -6px;
  left: 33px;
}

/*THE GRID*/
.main-container {
  padding-top: 50px;
  z-index: 2;
  position: relative;
}

.container {
  max-width: 1020px;
  margin: auto;
}

/*THE FLOATBOX*/

.adm-midfloat-box {
  background: white;
  padding: 40px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin: -170px 0px 0px -240px;
  border-radius: 2px;
  z-index: 2;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}

.adm-midfloat-box .box-title,
.adm-midfloat-box .adm-alert {
  text-align: center;
  font-weight: bold;
  color: black;
  display: block;
  font-size: 18px;
  line-height: 1;
  margin: 0 0 20px;
}

.adm-midfloat-box .adm-input {
  margin: 0px 0px 20px;
}

.adm-midfloat-box .adm-input input,
.adm-midfloat-box .data-field {
  width: 280px;
  margin: 0;
}

.adm-midfloat-box .adm-input .label {
  width: 80px;
}

.adm-button,
.adm-midfloat-box .adm-button input {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  min-width: 100px;
}

.adm-midfloat-box .chosen-container {
  width: 301px !important;
}

.adm-midfloat-box .chosen-single {
  background: white;
  border-radius: 0;
  border: 1px solid #ddd;
  box-shadow: none;
  font-size: inherit;
  height: auto;
  line-height: inherit;
  padding: 10px;
}

.adm-midfloat-box .chosen-results li {
  border-bottom: 1px solid #eee;
  line-height: 1;
  padding: 10px 10px;
}

.adm-midfloat-box .chosen-results li.highlighted {
  background: $color-main;
}

.adm-midfloat-box .chosen-container-active .chosen-choices {
  border-color: $color-highlight;
  box-shadow: none;
}

.adm-midfloat-box .chosen-results li em {
  font-weight: bold;
}

.adm-midfloat-box .chosen-search input[type=text] {
  border: 1px solid #ccc;
  font-family: inherit !important;
  font-size: inherit !important;
  padding: 10px;
}

.adm-midfloat-box .chosen-choices {
  background-image: none;
  padding: 5px;
  border-color: $color-bg-border;
}

.adm-midfloat-box .chosen-choices input[type=text] {
  font-family: inherit !important;
  font-size: inherit !important; 
}

.adm-midfloat-box .chosen-drop {
  border-color: $color-bg-border;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}

.adm-midfloat-box .data-field {
  display: inline-block;
  padding: 10px;
  background: #f5f5f5;
}

.adm-midfloat-box.user-signup .adm-input .label{
  display: block;
  width: auto;
  margin-bottom: 5px;
}

.adm-midfloat-box.user-signup .adm-input input {
  width: 378px;
}

.adm-midfloat-box.new-booking {
  margin: -260px 0 0 -240px;
}

/*THE INPUT*/
.adm-date-query,
.adm-input input {
  border: 1px solid #ddd;
  padding: 10px;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
}

.adm-input .label {
  display: inline-block;
  margin-right: 10px;
}


.adm-date-query {
  display: inline-block;
}

/*.adm-input label {
  width: 80px;
  background: red;
}
*/
/*THE BUTTONS*/
.adm-button,
.adm-button-main,
.adm-button input {
  border: none;
  color: $color-text-light;
  cursor: pointer;
  padding: 10px 20px;
  background: $color-main;
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
}

.adm-button-main:hover,
.adm-button:hover {
  background: $color-hover;
}

.adm-button-bookings {
  display: inline-block;
}

.adm-button.button-link.button-single {
  text-decoration: none;
  width: 100px;
  text-align: center;
}

.adm-button.button-subtle{
  background-color: #ddd;
  color: black;
}

.adm-button-back{
  color: #aaa;
  z-index: 44444;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  line-height: 1;
}

/*THE MODALS*/
.modal-close {
  background: black;
  border-radius: 200px;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  height: 13px;
  line-height: 1em;
  padding: 5px;
  position: absolute;
  right: -10px;
  text-align: center;
  top: -10px;
  width: 13px;
}

/*THE ALERTS*/
.adm-alert-container {
  background-color: white;
  width: 100%;
  height: 50px;
}

/*THE CALENDAR*/
.calendar table {
  border-collapse: collapse;
  width: 100%;
}

.calendar td,
.calendar th {
  padding: 0px;
  border: 1px solid $color-bg-border;
}

.calendar th {
  border-color: #6EAF9F;
  background: $color-main;
  color: $color-text-light;
  text-align: center;
  width: 14.2857142857143%;
  padding: 5px;
}

.calendar td {
  background: $color-bg-light;
  cursor: pointer;
  height: 80px;
  vertical-align: top;
  word-break: break-word;
}

.calendar td:hover{
  background: #f7f7f7;
  cursor: pointer;
}

.calendar td.selected {
  box-shadow: 3px 3px 0px rgba(0,0,0,0.1) inset;
}

.calendar .calendar-day {
  padding: 10px;
  font-size: 18px;
  color: #999;
}

.calendar .notmonth {
  background: #f6f6f6;
  color: #CCC;
}

.calendar .notmonth .number,
.calendar .notmonth .listing li i {
  color: #999;
}

.calendar .month {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 1em;
  width: 280px;
  overflow: hidden;
}

.calendar .month a, 
.calendar .month a:hover {
  text-decoration: none;
  padding: 0 10px;
}

.calendar .today {
  background-color: #FFFEE0;
}

.calendar .today a {
  color: $color-text-dark;
}

.calendar .today:hover {
  background-color: #FFFDCF;
}

.cal-category{
  color: #ccc;
}

.calendar ul {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  list-style: none;
}

.calendar li {
  font-size: 13px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.calendar li .number {
  color: $color-dark;
  display: inline-block;
  width: 20px;
  text-align: center;
}

.calendar li a {
  font-family: 'Helvetica Neue';
  color: $color-text;
  text-decoration: none;
}

.calendar .listing li {
  font-weight: normal;
}

.calendar .listing li i {
  color: $color-main;
}

table {
  display: table;
  width: 100%;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

/*.calendar-week tr th,
.calendar-week tr td{
  border: 1px solid black;
}

.calendar-week tr td{
  height: 300px;
}*/

.calendar-week {
  width: 100%;
  border: 1px solid $color-bg-border;
  margin: 50px 0;
  background-color: $color-bg-light;

  tr {
    td, th {
      border: 1px solid $color-bg-border;
      width: 14.2857142857143%;
    }

    td {
      height: 300px;
      padding: 10px;
      vertical-align: top;
    }
  }

}

/* JQUERY UI CALENDAR */

.ui-corner-all, 
.ui-corner-bottom, 
.ui-corner-right, 
.ui-corner-br {
  border-radius: 2px;
}

.ui-widget {
  font-family: inherit;
}

.ui-widget-content {
  background: $color-bg-light;
  border-color: #ddd;
  box-shadow: 0px 3px 0px rgba(0,0,0,0.1);
}

.ui-datepicker .ui-datepicker-header {
  background: $color-main;
  border: none;
  color: $color-text-light;
}

.ui-datepicker .ui-state-default {
  background: $color-bg-light;
  border: none;
}

.ui-datepicker .ui-state-hover {
  background: $color-main;
  color: $color-text-light;
  border: none;
}

.ui-datepicker td a {
  text-align: center;
}

.container .adm-calendar-container {
  transition: all 0.25s ease;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  padding: 40px;
  overflow-y: auto;
}

.container.adm-slideout .adm-calendar-container {
  right: 365px;
}

.container.adm-slideout-2 .adm-calendar-container {
  right: 730px;
}

.container.adm-slideout-2 .adm-calendar-container th span {
  display: none;
}

.adm-arrow{
  display: inline-block;
  color: #999;
  cursor: pointer;
}

.adm-arrow i{
  background-color: #ccc;
  color: $color-text-light;
  display: block;
  border-radius: 3px;
  padding: 5px;
  line-height: 1em;
  font-size: 15px;
}

.adm-arrow i:hover {
  background: $color-highlight;
}

.adm-arrow.cal-back{
  margin-right: 10px;
  float: left;
}

.adm-arrow.cal-forward{
  margin-left: 10px;
  float: left;
}

.month-header {
  width: 209px;
  float: left;
  margin: 0;
  padding: 3px 0;
  line-height: 1em;
}


/* THE SIDEKICK */

.adm-sidekick-base{
  background-color: white;
  width: 360px;
  position: fixed;
  right: -365px;
  top: 50px;
  bottom: 0;
  border-left: 5px solid #ddd;
  transition: all 0.25s ease;
}

.adm-sidekick-2 {
  background: #444;
}

.container.adm-slideout .adm-sidekick-1 {
  right: 0;
}

.container.adm-slideout-2 .adm-sidekick-1 {
  right: 365px;
}

.container.adm-slideout-2 .adm-sidekick-2 {
  right: 0px;
}

.sidekick-content{
  padding: 20px;
}

.adm-sidekick-2 .booking-list-wrapper{
  top: 40px;
}

.block-left{
  float: left;
}

.adm-sidekick-2 .block-full {
  margin-bottom: 10px;
}

.adm-sidekick-2 .block-right{
  overflow: hidden;
  width: auto;
}

.booking-show-page .block-left,
.adm-sidekick-2 .block-left{
  width: 100px;
  margin-right: 20px;
}

.adm-sidekick-2 .booking-list-item-container {
  padding-top: 0;
}

/* SINGLE DAY BOOKING */
.date-header .weekday-name{
  font-size: 28px;
  display: block;
  text-align: center;
  font-weight: bold;
  line-height: 1em;
}

.date-header .month-name-w-date{
  font-size: 1em;
  display: block;
  text-align: center;
  line-height: 1em;
}

.date-header {
  padding: 20px 20px 20px;
  width: 320px;
  top: 0px;
  right: 0px;
  background-color: white;
  position: absolute;
  border-bottom: 1px solid #ddd;
}

.booking-list-item{
  background: $color-bg-light;
  border: 1px solid #dedede;
  box-shadow: 0 3px 0 $color-main;
  color: #777;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  word-break: break-word;

}

.booking-list-item-container {
  padding: 10px;
}

.booking-list-wrapper{
  overflow-y: auto;
  position: absolute;
  top: 81px;
  right: 0px;
  left: 0px;
  bottom: 0px;
}

.booking-item-info {
  list-style: none;
}

.booking-item-info li {
  color: #444;
  margin: 0px 0px 10px;
  padding: 0px 0px 10px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}

.booking-item-info li:last-of-type {
  border: none;
}

.booking-item-info i {
  color: $color-main;
  float: left;
  margin-right: 5px;
}

.booking-item-info .label {
  color: $color-text;
  display: inline-block;
}

.booking-item-info .item-mini-float-right {
  float: right;
  display: inline-block;
}

/* THE TAGS */
.adm-tag{
  display: inline-block;
  background-color: #eee;
  padding: 3px 8px;
  border-radius: 2px;
  margin: 0 0 5px 0;
}